@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    a{
        text-decoration: inherit;
        color: inherit;
    }

    a:hover{
        text-decoration: inherit;
        color: inherit;
    }

    .bg-fade::before{
        z-index:2;
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.2);
    }

    .bg-fade{
        position: relative;
    }

    .bg-fade *{
        z-index: 3;
        position: relative
    }


    .desktop-nav {
        @apply text-sm md:text-base lg:text-xl text-center align-middle content-center ml-10 text-white relative block no-underline py-1.5 hover:text-[#e5eef1b2];

        transition: 0.5s;
    }

    .desktop-nav::after {
        @apply absolute block w-full h-[3px] top-[100%] left-0 bg-[#e5eef1b2];

        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }

    .desktop-nav:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .mobile-nav {
        @apply text-sm w-36 ml-16
    }

    .mobile-nav:first-of-type{
        @apply mt-16
    }

    .button {
        @apply items-center w-auto p-3 text-white bg-[#FFFFFF10] hover:bg-[#FFFFFF20] border-2 border-white border-solid sm:text-xl whitespace-nowrap
    }


    #menuToggle span {
        @apply block sm:hidden w-[33px] !h-1 mb-[5px] relative bg-[#cdcdcd] rounded-[3px] z-[1];

        click-events:none;
        
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

        
    }

}